/.vscode
/GlobalProtect_UI_deb-6.1.4.0-711.deb
/GlobalProtect_UI_focal_deb-6.1.4.0-711.deb
/GlobalProtect_UI_focal_rpm-6.1.4.0-711.rpm
/GlobalProtect_UI_focal_tar-6.1.4.0-711.tgz
/GlobalProtect_UI_rpm-6.1.4.0-711.rpm
/GlobalProtect_UI_tar-6.1.4.0-711.tgz
/GlobalProtect_deb-6.1.4.0-711.deb
/GlobalProtect_deb_arm-6.1.4.0-711.deb
/GlobalProtect_focal_deb-6.1.4.0-711.deb
/GlobalProtect_focal_deb_arm-6.1.4.0-711.deb
/GlobalProtect_focal_rpm-6.1.4.0-711.rpm
/GlobalProtect_focal_rpm_arm-6.1.4.0-711.rpm
/GlobalProtect_focal_tar-6.1.4.0-711.tgz
/GlobalProtect_focal_tar_arm-6.1.4.0-711.tgz
/GlobalProtect_rpm-6.1.4.0-711.rpm
/GlobalProtect_rpm_arm-6.1.4.0-711.rpm
/GlobalProtect_tar-6.1.4.0-711.tgz
/GlobalProtect_tar_arm-6.1.4.0-711.tgz
/gp_install.sh
/gp_uninstall.sh
/manifest
/output.png
/relinfo